/* ---- Global Css ---- */
body {
  letter-spacing: 0.4px;
}
.navtop {
  margin-top: 55px;
}

/* ---- Navbar ---- */
.navbar {
  height: 85px;
}
.scroll {
  background: black;
}
.nav-link {
  color: #000;
}

/* ---- Homepage ---- */
.hero-header {
  padding: 45px 0;
  max-width: 980px;
}
.headline {
  font-weight: 900;
  font-size: 30px;
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.button.-primary {
  color: #fff;
  padding: 12px 21px;
  border-radius: 23px;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  text-decoration: none;
}
